* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  padding: 32px;
}

.container {
  display: flex;
  gap: 30px;
  height: 100%;
}

.col {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: paleturquoise;
  padding: 20px;
  gap: 30px;
  border-radius: 16px;
}

.col-item {
  min-height: 100px;
  background-color: aqua;
  border: 3px solid #333;
  border-radius: 16px;
}

.col-item:hover {
  cursor: pointer;
  background-color: aliceblue;
}
