.btn:hover {
  color: blue;
}

input:required {
  background-color: red;
}

input:focus {
  background-color: yellow !important;
}

p::first-line {
  font-weight: bold;
}

input[type="checkbox"]:checked {
  border: 3px solid red !important;
  outline: 3px solid red !important;
}
