* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #222;
  display: grid;
  place-items: center;
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  color: #eee;
}

.chessboard-container {
  display: grid;
  grid-template-columns: 40px repeat(8, 80px) 40px;
  grid-template-rows: 40px repeat(8, 80px) 40px;
  gap: 0;
  background-color: #333;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}

.square {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.light {
  background-color: #eee;
}
.dark {
  background-color: black;
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.number {
  display: flex;
  align-items: center;
  justify-content: center;
}
